<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Team</title>
    <link rel="icon" href="icon-1-50.png">
    <link rel="stylesheet" href="/styleTeam.css">
</head>
<body>
    <header>
        <div class="left">
            <a href="/gamemodes" class="menu-item" data-lang-key="Back">Back</a>
        </div>
    </header>
    <main>
        <h1 data-lang-key="team">Team</h1>
        <div class="project-description">
            <p>Este es un proyecto de la materia Análisis y Diseños de Sistemas en el cual utilizamos como herramientas ruby y sinatra.</p>
        </div>
        <div class="gamemodes">
            <a href="/gamemodes/team/bruno" class="gamemode" id="bruno" data-lang-key="bruno">Bruno Conti</a>
            <a href="/gamemodes/team/juan" class="gamemode" id="juan" data-lang-key="juan">Juan Gonzalez</a>
            <a href="/gamemodes/team/joaco" class="gamemode" id="joaco" data-lang-key="joaco">Joaco Mezzano</a>
            <a href="/gamemodes/team/erich" class="gamemode" id="erich" data-lang-key="erich">Erich Vollenweider</a>
        </div>
    </main>
    <script>
        const translations = {
            es: {
                Back: 'Atras',
                team: 'Equipo',
                bruno: 'Bruno Conti',
                juan: 'Juan Gonzalez',
                joaco: 'Joaco Mezzano',
                erich: 'Erich Vollenweider'
            },
            en: {
                Back: 'Back',
                team: 'Team',
                bruno: 'Bruno Conti',
                juan: 'Juan Gonzalez',
                joaco: 'Joaco Mezzano',
                erich: 'Erich Vollenweider'
            }
        };
    </script>
</body>
</html>
