<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Team</title>
    <link rel="icon" href="icon-1-50.png">
    <link rel="stylesheet" href="/styleTeam.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src='icon-red-1-150.png' alt="Logo de F1 Quiz & Learn">
        </div>
        <nav>
            <ul>
                <li><a href="/">Back</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Team</h1>
        <div class="gamemodes">
            <a href="/gamemodes/team/bruno" class="gamemode" id="bruno">Bruno Conti</a>
            <a href="/gamemodes/team/juan" class="gamemode" id="juan">Juan Cruz Gonzalez</a>
            <a href="/gamemodes/team/joaquin" class="gamemode" id="joaquin" >Joaquin Mezzano</a>
            <a href="/gamemodes/team/erich" class="gamemode" id="erich" >Erich Vollenweider</a>
        </div>
        <div class="project-description">
            <p>This is a project from the System Analysis and Design subject in which we use ruby ​​and sinatra as tools.</p>
        </div>
    </main>
</body>
</html>
