<!DOCTYPE html>
<html>
<head>
    <title>Replies</title>
</head>
<body>
    <ul>
        <% @replies.each do |r| %>
            <li><%= r.cant_coins_won %></li>
        <% end %>
    </ul>
</body>
</html>