body {
    font-family: Arial, sans-serif;
    background-image: url("/backgrounds/pilot-background.jpg");
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
}

.left .menu-item {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.left .menu-item:hover {
    color: #ffcc00;
}

.right .user-info {
    display: flex;
    align-items: center;
}

.user-info .currency, .user-info .lives, .user-info .points {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: #fff;
}

.user-info .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.profile {
    position: relative;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.profile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(65, 63, 63, 0.8);
    overflow: hidden;
    z-index: 1;
    width: 200px;
}

.profile-menu a, .profile-menu .change-language {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
}

.goProfile i, .goLogout i {
    margin-right: 5px;
}

.profile-menu a:hover, .profile-menu .change-language:hover {
    background: rgba(255, 255, 255, 0.2);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-question {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25vw;
    height: auto;
    max-width: 800px;
}

.add-question h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

.add-question form {
    display: flex;
    flex-direction: column;
}

.add-question label {
    font-size: 1rem;
}

.add-question input[type="text"],
.add-question select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.add-question input[type="text"]:focus,
.add-question select:focus {
    border-color: #333;
    outline: none;
}

.add-question-btn {
    background-color: #ffcc00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1rem;
}

.add-question-btn:hover {
    background-color: #e6b800;
}

.flash {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.flash.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

#question-image {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #2980b9;
}

#image-preview {
    margin-top: 20px;
    max-width: 100%;
    max-height: 200px;
    display: none;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.adminuser {
    display: flex;
    margin-right: 20px;
    color: #ffcc00;
}
