<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameModes</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 80vh;
        }

        .gamemodes {
            display: flex;
            flex-direction: column;
        }

        .gamemode {
            border: 4px solid blue;
            padding: 40px;
            width: 200px;
            text-align: center;
            background-color: #fff;
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 1.4;
            height: 30;
        }

        .gamemode h2 {
            margin: 100;
        }

        .difficulty {
            display: none;
            flex-direction: column;
            margin-top: 16px;
        }

        .gamemode.active .difficulty {
            display: flex;
        }

        .difficulty a {
            text-decoration: none;
            color: blue;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>GAMEMODES</h1>
    <div class="container">
        <div class="gamemodes">
            <div class="gamemode" id="progressive">
                <h2>   Progressive
                    (Easy,Medium,
                   Difficult,Impossible)
                </h2>
            </div>
        </div>
        <div class="gamemode" id="free">
            <h2>Free</h2>
        </div>
    </div>

    <script>
        document.getElementById("progressive").addEventListener("click", function() {
            this.classList.toggle("active");
        });
    </script>
</body>
</html>