<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Quiz & Learn - How to Play</title>
    <link rel="icon" href='icon-1-50.png'>
    <link rel="stylesheet" href="styleHTP.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src='icon-red-1-150.png' alt="Logo de F1 Quiz & Learn">
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/how-to-play">How To Play</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="instructions">
            <h1>How to Play</h1>
            <p>F1Quiz&Learn has two exciting game modes to challenge your knowledge of the fascinating world of Formula 1.</p>
            <p><b>Game Modes:</b></p>
            <p><b>Progressive:</b></p>
            <ul>
                <li>Choose from four themes:</li>
                <li>Pilot</li>
                <li>Career</li>
                <li>Circuit</li>
                <li>Equipment</li>
            </ul>
            <p>Answer questions related to the selected theme.</p>
            <p><b>Free:</b></p>
            <p>Answer questions on all themes with different levels of difficulty.</p>
            <p><b>During the game:</b></p>
            <p><b>Wild cards:</b></p>
            <ul>
                <li>More Time: Increase the time limit to answer the question.</li>
                <li>Double Chance: Gives you a second chance if your first answer is wrong.</li>
                <li>Split Answers: Eliminate two of the four options, leaving you with only two to choose from.</li>
            </ul>
            <p><b>Lives:</b></p>
            <p>You start the game with 3 lives.</p>
            <p>You lose a life every time you answer incorrectly.</p>
            <p>If you run out of lives, you will not be able to continue playing until they regenerate. You regain one life every 2 hours.</p>
            <p>Test your knowledge about Formula 1 and become a true expert with F1Quiz&Learn!</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 F1 Quiz & Learn. All rights reserved.</p>
    </footer>
</body>
</html>
