<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1Quiz&Learn</title>
    <link rel="stylesheet" href="styleHTP.css">
</head>
<body>
    <div class="container">
        <div class="box" id="box1">Bienvenido a F1Quiz&Learn</div>
        <div class="box" id="box2">¡Aprende sobre la Fórmula 1 mientras te diviertes!</div>
        <div class="box" id="box3">
            <p>F1Quiz&Learn tiene dos modos de juego emocionantes para desafiar tu conocimiento sobre el fascinante mundo de la Fórmula 1.<br><br>
            Modos de Juego:<br>
            Elige entre dos modos de juego<br>
            <b>Progresivo:</b><br>
            Elige entre cuatro temas:<br>
            1) Piloto<br>
            2) Carrera<br>
            3) Circuito<br>
            4) Equipo<br>
            Responde preguntas relacionadas con el tema seleccionado.<br><br>
            <b>Libre:</b><br>
            Responde preguntas de todos los temas con diferentes niveles de dificultad.<br><br>
            Durante el Juego:<br>
            <b>Comodines:</b><br>
            Puedes usar uno de los siguientes comodines por pregunta, comprándolos con coins que ganas al responder correctamente:<br>
            . Más Tiempo: Aumenta el límite de tiempo para responder la pregunta.<br>
            . Doble Chance: Te da una segunda oportunidad si tu primera respuesta es incorrecta.<br>
            . Dividir Respuestas: Elimina dos de las cuatro opciones, dejándote solo dos para elegir.<br><br>
            <b>Vidas:</b><br>
            Comienzas el juego con 3 vidas.<br>
            Pierdes una vida cada vez que respondes incorrectamente.<br>
            Si te quedas sin vidas, no podrás seguir jugando hasta que se regeneren. Recuperas una vida cada 30 minutos.<br><br>
            ¡Pon a prueba tu conocimiento sobre la Fórmula 1 y conviértete en un verdadero experto con F1Quiz&Learn!</p>
        </div>
    </div>
</body>
</html>
