<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a2dd6045c4.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" href='icon-1-50.png')>
    <link rel="stylesheet" href="styleLogin.css">
</head>
<body>
    <% if @error %>
        <p><%= @error %></p>
    <% end %>
    <section>   
        <div class="contenedor">
            <a href="/" class="back-arrow">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <div class="formulario">
                <form action="/register" method="post">
                    <h2>Register</h2>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="username" required>
                        <label for="#">User</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" required>
                        <label for="#">Password</label>
                    </div>

                    <div class="input-contenedor">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="repeat_password" required>
                        <label for="#">Repeat Password</label>
                    </div>

                <div>
                    <button type="submit">Acceder</button>
                </form>
                    <div class="registrar">
                        <p><a href="/login"><u>Ya tengo cuenta</u></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>