<!DOCTYPE html>
<html>
<head>
    <title>Progressives</title>
</head>
<body>
    <ul>
        <% @progressives.each do |p| %>
            <li><%= p.name_theme %></li>
        <% end %>
    </ul>
</body>
</html>